In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
race=['w','w','b','b','w','b']
years_exp=[6,6,22,6,27,6]
df=pd.DataFrame({'race':race,'years_exp':years_exp})
df

  race  years_exp
0    w          6
1    w          6
2    b         22
3    b          6
4    w         27
5    b          6

'w'--white people, 'b'--black people
H0---Avg exp white=blck
H1=not equal

In [4]:
white=df[df['race']=='w']
black=df[df['race']=='b']

In [5]:
white

  race  years_exp
0    w          6
1    w          6
4    w         27

In [6]:
black

  race  years_exp
2    b         22
3    b          6
5    b          6